@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", "san-serif";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  /* margin: 0;
  min-height: 100vh;
  background: 
      radial-gradient(
        circle at 50% 85%,
        #7c3aed 0%,
        #4c1d95 35%,
        #0f0f1a 70%),
        linear-gradient(
        to bottom,
        #0a0a14,
        #12122a
      );
  background-attachment: fixed; */
}

.container {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  background-color: #054d4e;
}

.header h1 {
  font-weight: 600;
  font-size: 30px;
  color: white;
}

.grid-container {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 400px 400px;
  gap: 2em;
  grid-template-areas: 
    "box-1 box-2"
    "box-1 box-4";
  height: 100%;
}

.box {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  width: 100%;
  height: 100%;
}








/* ---------------> THIS IS FOR GRAPH BOX <---------------- */

.box1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* margin-bottom: 240px; */
  margin-top: 30px;
}


.svg {
  transform: rotate(-90deg);
}

.graph svg {
  transform: rotate(-90deg) scale(1.3);
}

.circle {
  fill: none;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  stroke-width: 18;
  stroke-linecap: round;
  transition: 
    stroke-dashoffset 1.5s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}


.savings {
  stroke: rgb(11, 218, 90);
  filter: drop-shadow(0 0 10px rgba(11, 218, 90, 0.6));
}

.expense {
  stroke: rgb(241, 60, 5);
  filter: drop-shadow(0 0 10px rgba(241, 60, 5, 0.7));
}

.investment {
  stroke: rgb(20, 121, 236);
  filter: drop-shadow(0 0 10px rgba(20, 121, 236, 0.7));
}

.total {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 94px;
  margin-left: 74px;
  flex-direction: column;
  line-height: 0;
}

.total h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

.total h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 10px;
  /* margin-right: 2px; */
  font-size: 30px;
  color: rgb(11, 218, 90);
  filter: drop-shadow(0 0 10px rgba(11, 218, 90, 0.5));
}




/* ---------------> THIS IS FOR BALANCE BOX <---------------- */
.wallet-balance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30%;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.3);
}

.wallet-balance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.wallet-balance p{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20;
  margin-bottom: 80px;
  line-height: 0;
}

.wallet-balance h1{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  padding: 0;
  position: absolute;
  margin-top: 50px;
}


.income-expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wallet-income {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 125px;
  flex-direction: column;
  /* margin-left: 25px; */
  margin-left: 13px;
  margin-bottom: 12px;
  border-radius: 15px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
  color: #10b981;
  filter: drop-shadow(0 0 10px rgba(11, 218, 90, 0.4));
}

.wallet-income p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: absolute;
  margin-bottom: 80px;
}

.wallet-income h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20;
  padding: 0;
  margin-top: 30px;
  position: absolute;
}

.wallet-expense {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 125px;
  /* margin-right: 25px; */
  flex-direction: column;
  margin-right: 13px;
  margin-bottom: 12px;
  border-radius: 15px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);
  color: #EC3838;
  filter: drop-shadow(0 0 10px rgba(241, 60, 5, 0.7));
}

.wallet-expense p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  position: absolute;
  margin-bottom: 80px;
}

.wallet-expense h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20;
  padding: 0;
  margin-top: 30px;
  position: absolute;
}


/* ------------------> THIS IS FOR DATA PERCENTAGE DISPLAY <------------------- */
.data-percentage {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 25%;
  margin-bottom: 20px;
  flex-direction: column;
}

.percentages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  border-left: 15px solid;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.percentages p{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.savings-percentage {
  border-color: rgb(4, 197, 78);
}

.expense-percentage {
  border-color: rgb(230, 62, 21);
}

.investment-percentage {
  border-color: rgb(6, 101, 209);
}







/* ---------------> THIS IS FOR TRANSACTION BOX <---------------- */

.transaction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 0;
  width: 70%;
  height: 90%;
  padding: 0;
  margin-bottom: 20px;
}

.transaction-title p{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 0;
  margin-bottom: 50px;
}

.transaction p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30;
  height: 10%;
  padding: 0;
}

.transaction input {
  border: none;
  margin-bottom: 15px;
  padding: 12px;
  width: 100%;
  outline: none;
  font-size: 20;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.transaction input::placeholder {
  opacity: 0.5;
}

.transaction input:focus {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}




.transaction-dropdown {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 30;
  width: 100%;
  height: 13%;
  margin-top: 5px;
  margin-bottom: 30px;
  border-radius: 5px;
  cursor: pointer;
  /* transform: translateY(-40px); */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.dropdown-header:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-header .selected{
  margin-left: 10px;
  font-size: 18px;
  width: 100%;
}

.dropdown-header .arrow {
  font-size: 20px;
  font-weight: 5;
  margin-right: 10px;
}

.arrow-icon {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.arrow-icon.rotate {
  transform: rotate(0deg);
}


.dropdown-list {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  top: 100%;
  z-index: 10;
  border-radius: 5px;
  margin-top: -2px;
  padding: 0;
  /* opacity: 0; */
  transition: opacity 0.2s ease-in-out;

  background-color: white;
  color: black;
}

.dropdown-list li{
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.dropdown-list li:hover {
  background-color: rgb(241, 239, 239);
}


.dropdown-list.open {
  display: flex;
  /* opacity: 1; */
}



.transaction button {
  border: none;
  font-size: 20px;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  border-radius: 5px;
  color: white;
  background-color: #0C969C;
  cursor: pointer;
  /* transform: translateY(-30px); */
  box-shadow: 0 0 5px rgba(12, 150, 150, 0.5);
  transition: all 0.2s ease-in-out;
}


.transaction button:hover {
  box-shadow: 0 0 10px rgba(12, 150, 150, 1);
  background-color: #054d4e;
  transform: scale(1.01);
}

.transaction button:active {
  transform: scale(0.95);
}








/* ---------------> THIS IS FOR HISTORY BOX <---------------- */
.history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 90%;
  margin: 0;
  padding: 0;
}

.history-title {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  width: 100%;
}

.history-title h1{
  font-size: 30;
  font-weight: 400;
}

.history-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.history-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.history-list .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25;
}

.history-list .icon {
  position: absolute;
  right: 15px;
  font-size: 20;
  cursor: pointer;
}

.history-list li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  
  border-left: 12px solid;
  transition: all 0.2s ease-in-out;
}

.history-list li:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
 